mat-nav-list > a span, mat-panel-title > span {
  font-size: 1.2rem;
  margin-left: 8px;
}

mat-nav-list.active {
  background-color: white;
}


mat-expansion-panel {
  background: none;
  border-radius: 0 !important;
  box-shadow: none !important;

  mat-expansion-panel-header {
    padding: 0 16px !important;
  }

  mat-expansion-panel-header.active {
    background-color: #beccff;
  }
}

mat-panel-title > span {
  line-height: 1.6;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

.mat-list-base {
  padding-top: 0;
}

mat-nav-list, mat-expansion-panel {
  border-bottom: 1px solid #6767671c;
}

.fuse-navy-700 {
  background-color: #2D323E !important;
  color: white !important;
}

.navbar-scroll-container .user {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 136px;
  min-height: 136px;
  max-height: 136px;
  padding: 24px 0 64px 0;
}

.navbar-scroll-container .user .avatar-container {
  position: absolute;
  top: 92px;
  border-radius: 50%;
  padding: 8px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}

.fuse-navy-900 {
  background-color: #1E2129 !important;
  color: white !important;
}

.navbar-scroll-container .user .avatar-container .avatar {
  width: 72px;
  height: 72px;
  margin: 0;
}

.avatar {
  color: rgba(0, 0, 0, 0.87);
}
.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
}
