<app-loading></app-loading>



<mat-card  class="mat-card">
    <mat-card-content  class="mat-card-content">
      <div  class="mb-1">
        <h1  class="mt-0"><strong >INVOICE</strong></h1>
        <a  href="javascript:;">company@address.com</a>
      </div>

      <div  fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
        <div  fxflex="100" fxflex.gt-xs="50" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
          <h4  class="my-0">Client</h4>
          <div  fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex;">
            <span >Invoice No: #0001</span>
            <span >Date issued: 01 Jun 2017</span>
            <span >Due date: 31 May 2017</span>
          </div>
        </div>
        <div  class="text-sm-right text-xs-left" fxflex="100" fxflex.gt-xs="50" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
          <h4  class="my-0">Company LLC</h4>
          <div  fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex;">
          <span >company@address.com</span>
          <span >1234 Main</span>
          <span >Apt. 4B</span>
          <span >Springfield, ST 54321</span>
        </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-content  class="pl-0 pr-0 mat-card-content">




    </mat-card-content>

    <hr >
    <mat-card-content  class="mat-card-content">
      <div  fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
        <div  class="mt-1 mb-1" fxflex="100" fxflex.gt-sm="25" fxflex.gt-xs="50" style="flex: 1 1 100%; box-sizing: border-box; max-width: 25%;">
          <h6  class="text-uppercase text-md ma-0 text-bold">Subtotal</h6>
          <h1  class="ma-0">$3,633.61</h1>
        </div>
        <div  class="mt-1 mb-1 text-sm-right text-md-left" fxflex="100" fxflex.gt-sm="25" fxflex.gt-xs="50" style="flex: 1 1 100%; box-sizing: border-box; max-width: 25%;">
          <h6  class="text-uppercase text-md ma-0 text-bold">Tax (15%)</h6>
          <h1  class="ma-0">$545.04</h1>
        </div>
        <div  class="mt-1 mb-1" fxflex="100" fxflex.gt-sm="25" fxflex.gt-xs="50" style="flex: 1 1 100%; box-sizing: border-box; max-width: 25%;">
          <h6  class="text-uppercase text-md ma-0 text-bold">Discount</h6>
          <h1  class="ma-0">$0.00</h1>
        </div>
        <div  class="mt-1 mb-1 text-xs-left text-sm-right" fxflex="100" fxflex.gt-sm="25" fxflex.gt-xs="50" style="flex: 1 1 100%; box-sizing: border-box; max-width: 25%;">
          <h6  class="text-uppercase text-sm ma-0 text-bold">Total</h6>
          <h1  class="ma-0 mat-text-accent">$4,178.65</h1>
        </div>
      </div>
    </mat-card-content>
    <hr >

    <mat-card-content  class="mat-card-content">
      <p  class="text-md">
        <strong >
          PAYMENT TERMS AND POLICIES
        </strong>
        All accounts are to be paid within 7 days from receipt of invoice. To be paid by cheque or credit card or direct payment online. If account is not paid within 7 days the credits details supplied as confirmation of work undertaken will be charged the agreed
        quoted fee noted above. If the Invoice remails unpaid. our dept recovery agency, Urban, may charge you a fee of 25% of the unpaid portion of the
        invoice amount and other legal and collection costs not covered by the fee.
      </p>
    </mat-card-content>
  </mat-card>
