<header id="header">
  <div id="logo-name">
    <img id="header-img" src="https://image.flaticon.com/icons/svg/831/831763.svg" alt="company-logo">
    <p id="company-name">company name</p>
  </div>
  <nav id="nav-bar">
    <ul class="ul-container">
      <li>
        <a mat-stroked-button href="javascript:">About us</a>
      </li>
      <li>
        <a mat-stroked-button href="javascript:">Features</a>
      </li>
      <li>
        <a mat-stroked-button href="javascript:">Features</a>
      </li>
      <li>
        <a mat-stroked-button routerLink="/login">Login</a>
      </li>
      <li>
        <a mat-flat-button color="accent" routerLink="/login">Sing up free</a>
      </li>
    </ul>
  </nav>
</header>
<form id="form">
  <h1 id="form-h1">Ultimate Solution for Your<br>Website or Landing Page</h1>
  <label for="email"></label><input type="email" name="email" id="email" placeholder="Enter your Email" required>
  <input type="submit" id="submit" value="Get Started">
</form>
<div class="container">
</div>
