<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button (click)="toggle(sidenav)" mat-icon-button>
      <mat-icon aria-label="icon-button">menu</mat-icon>
    </button>
    <a [fxHide.xs]><b>Material</b> Admin </a>
    <span fxFlex></span>

    <button mat-icon-button (click)="toggleColor.emit()">
      <mat-icon>invert_colors</mat-icon>
    </button>
    <div>
      <button (click)="toggle(notificationPanel)" mat-icon-button>
        <mat-icon matBadge="4" matBadgeColor="accent" class="notification_icon" aria-label="icon-button">notifications
        </mat-icon>
      </button>
      <button [matMenuTriggerFor]="userMenu" mat-icon-button>
        <img matCardAvatar src="//material.angular.io/assets/img/examples/shiba1.jpg">
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-menu #userMenu="matMenu">
  <mat-list>
    <mat-list-item>
      Moshiour Rahman<br>
    </mat-list-item>
  </mat-list>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
  <button (click)="logout()" mat-menu-item>
    <mat-icon>exit_to_app</mat-icon>
    <span>Sign out</span>
  </button>
</mat-menu>
