

.app_container {
  display: flex;
  flex-direction: row;
  flex: 1;
}


.sidenav {
  min-width: 240px;
  width: auto;
  background-color: #cfd8dc;
}

.sidenav-content {
  padding: 8px;
  flex: 1;
}

.menu_title {
  line-height: 24px;
  font-size: 13px;
  font-weight: 500;
}

.submenu_title {
  font-weight: normal;
  padding-left: 16px;
  font-size: 13px;
}

.rootmenu_title {
  font-size: 13px;
}


.mat-list .mat-list-item, .mat-nav-list .mat-list-item, .mat-selection-list .mat-list-item {
  font-size: 12px;
  font-weight: 500;
}

.notification_drawer {
  width: 326px;
  background-color: white;
}

.notification_badge {
  background-color: red;
  padding: 2px 6px;
  border-radius: 20px;
  font-size: 12px;
  margin-left: -56px;
}

.notification_icon {
  margin-right: 20px;
}





// OVVERIDE

.mat-expansion-panel-spacing {
  margin: 0 !important;
}

.mat-expansion-panel-header {
  padding: 0 16px;
}

.sub_expension {
  margin-left: 8px;
}

.mat-list, .mat-nav-list, .mat-selection-list {
  padding-top: 0;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow:none;
}

.mat-expansion-panel {
  background: none;
}
