<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon aria-label="icon-button">menu</mat-icon>
    </button>
    <a hide-xs class="domain_name" ><b>Material</b> Admin </a>
    <span class="example-spacer"></span>
    <button class="notification_icon" (click)="drawer1.toggle()" mat-icon-button>
      <mat-icon class="notification_icon" aria-label="icon-button">notifications</mat-icon>
      <span class="notification_badge">3</span>
    </button>
    <button (click)="drawer1.toggle()" mat-icon-button>
      <mat-icon aria-label="icon-button">person</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>



<mat-drawer-container class="app_container">

  <mat-drawer #drawer class="sidenav" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="mobileQuery.matches ? false : true ">
    <mat-accordion>



      <div *ngFor="let item of menus">

        <!-- This gets Rendered when there is sub menu item -->
        <mat-expansion-panel *ngIf="item.items.length != 0">

          <!-- Expension Manu Header -->
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="example-icon">{{item.icon}}</mat-icon><span class="menu_title">{{item.name}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>


          <div *ngFor="let lavel_one of item.items">

                <!-- This is 3rd level submenu item -->
                <mat-accordion *ngIf="lavel_one.subitems.length != 0">
                  <!-- This gets Rendered when there is sub menu item -->
                  <mat-expansion-panel>

                    <!-- Expension Manu Header -->
                    <mat-expansion-panel-header class="sub_expension">
                      <mat-panel-title>
                        <mat-icon class="example-icon">{{lavel_one.icon}}</mat-icon>
                        <span class="menu_title">{{lavel_one.name}}</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <!-- This is 2nd level submenu item -->
                    <mat-nav-list class="submenu menu_item">
                      <a *ngFor="let lavel_two of lavel_one.subitems" [routerLink]="lavel_two.route" class="submenu_title menu_item" mat-list-item>
                        <span class="submenu_title">{{lavel_two.name}}</span>
                      </a>
                    </mat-nav-list>
                  </mat-expansion-panel>
                </mat-accordion>


                <!-- This is 2nd level submenu item -->
                <mat-nav-list class="submenu menu_item" *ngIf="lavel_one.subitems.length == 0">
                  <a [routerLink]="lavel_one.route" class="submenu_title menu_item" mat-list-item>
                    <span class="submenu_title">{{ lavel_one.name }}</span>
                  </a>
                </mat-nav-list>

          </div>



        </mat-expansion-panel>


        <!-- This Is rendered when there is no submenu item -->
        <mat-nav-list class="submenu" *ngIf="item.items.length == 0">
          <a routerLinkActive="active" [routerLink]="item.route" mat-list-item>
            <mat-icon class="example-icon">{{item.icon}}</mat-icon><span class="rootmenu_title">{{item.name}}</span>
          </a>
        </mat-nav-list>


      </div>


    </mat-accordion>
    <mat-card style="padding: 20px;">Copyright SITL, 2018</mat-card>
  </mat-drawer>

  <div class="sidenav-content">
      <router-outlet></router-outlet>
      <!-- Routed Views Goes here -->
  </div>

  <mat-drawer #drawer1 class="sidenav notification_drawer" mode="over" position="end">
      <mat-tab-group>
        <mat-tab label="Today">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.</p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
            <mat-nav-list>
              <mat-list-item *ngFor="let message of messages">
                <mat-icon class="blueviolet" matListIcon>folder</mat-icon>
                <h3 matLine> {{message.from}} </h3>
                <p matLine>
                  <span> {{message.subject}} </span>
                  <span class="demo-2"> -- {{message.content}} </span>
                </p>
              </mat-list-item>
            </mat-nav-list>
            <mat-card *ngFor="let dim of [0,1,3,5]" class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>

        </mat-tab>
        <mat-tab label="All Notifictions">
            <mat-nav-list
            *ngFor="let icon of [
                {icon:'sms', color: 'orange660'},
                {icon:'power', color: 'violetblue'},
                {icon:'notifications', color: 'fb4400'},
                {icon:'sms', color: 'yellow'},
                {icon:'menu', color: 'green'},
                {icon:'person', color: 'blue'}
            ]">
                <mat-list-item *ngFor="let message of messages">
                  <mat-icon class="violetblue" matListIcon >{{icon.icon}}</mat-icon>
                  <h3 matLine> {{message.from}} </h3>
                  <p matLine>
                    <span> {{message.subject}} </span>
                    <span class="demo-2"> -- {{message.content}} </span>
                  </p>
                </mat-list-item>
              </mat-nav-list>
        </mat-tab>
      </mat-tab-group>
  </mat-drawer>
</mat-drawer-container>
