<mat-accordion>
  <div *ngFor="let item of menus">
    <mat-expansion-panel *ngIf="(item.subMenu || []).length">
      <mat-expansion-panel-header [expandedHeight]="'48px'" [collapsedHeight]="'48px'">
        <mat-panel-title>
          <mat-icon class="md-24">{{item.icon}}</mat-icon>
          <span>{{item.title}}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>


      <!-- 2ND Level -->
      <div *ngFor="let subItem of item.subMenu">
        <mat-accordion *ngIf="(subItem.subMenu || []).length">
          <mat-expansion-panel>
            <mat-expansion-panel-header [expandedHeight]="'48px'" [collapsedHeight]="'48px'">
              <mat-panel-title>
                <mat-icon class="md-24">{{subItem.icon}}</mat-icon>
                <span>{{subItem.title}}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- 3RD Level -->
            <mat-nav-list>
              <a *ngFor="let subItem of subItem.subMenu" [routerLink]="subItem.route" mat-list-item>
                <span>{{subItem.title}}</span>
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
        </mat-accordion>


        <!-- This is 2nd level submenu item -->
        <mat-nav-list *ngIf="!(subItem.subMenu || []).length">
          <a [routerLink]="subItem.route" mat-list-item>
            <span>{{subItem.title}}</span>
          </a>
        </mat-nav-list>

      </div>


    </mat-expansion-panel>


    <!-- This Is rendered when there is no submenu item -->
    <mat-nav-list *ngIf="!(item.subMenu || []).length">
      <a [routerLink]="item.route" mat-list-item>
        <mat-icon class="md-24">{{item.icon}}</mat-icon>
        <span>{{item.title}}</span>
      </a>
    </mat-nav-list>
  </div>
</mat-accordion>
