.blue-600 {
  background-color: #1e88e5 !important;
  color: white !important;
}


body.theme-default .fuse-card {
  background: white;
  border-color: rgba(0, 0, 0, 0.12);
}

.fuse-card.auto-width {
  min-width: 0;
  max-width: none;
}
.fuse-card {
  max-width: 320px;
  min-width: 320px;
  border-radius: 8px;
  //border: 1px solid;
}
.mb-32 {
  margin-bottom: 32px !important;
}
.mr-32 {
  margin-right: 32px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}
.p-16 {
  padding: 16px !important;
}

.w-100-p {
  width: 100% !important;
}

.font-size-16 {
  font-size: 16px;
}
.py-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}
.mat-icon {
  font-weight: 400 !important;
  line-height: 1;
}
.green-fg {
  color: #4caf50 !important;
}
.mr-4 {
  margin-right: 4px !important;
}
